# Created by https://www.toptal.com/developers/gitignore/api/direnv,janet
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv,janet

### direnv ###
.direnv
.envrc

### Janet ###
# Compiled binaries
build/

# Dependency directory
jpm_tree/

# End of https://www.toptal.com/developers/gitignore/api/direnv,janet
